  @media only screen 
and (min-device-width : 765px) 
and (max-device-width : 3840px) 
{
.bars
    {
      display: none !important;
    }
}

.tabordion {
    /*color: #333;*/
    display: block;
    font-family: arial, sans-serif;
    margin: auto;
    position: relative;
   /* width: 350px;*/
}

.tabordion input[name="sections"] 
{
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.tabordion section {
    display: block;
}

.tabordion section label {
    background: #ccc;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 100;
}

.tabordion section article {
    display: none;
    width: 100%;
    position: absolute;
    top: 166px;
}

.tabordion input[name="sections"]:checked+label {
    background: #eee;
    color: #bbb;
}

.tabordion input[name="sections"]:checked~article {
    display: block;
}

@media (max-width: 533px) {
    h1 {
        width: 100%;
    }
    .tabordion {
        width: 100%;
    }
    .tabordion section label {
        font-size: 1em;
        width: 160px;
    }
    .tabordion section article {
        left: 200px;
        min-width: 270px;
    }
    .tabordion section article:after {
        background-color: #ccc;
        bottom: 0;
        content: "";
        display: block;
        left: -199px;
        position: absolute;
        top: 0;
        width: 200px;
    }
}

@media (max-width: 533px) {
    h1 {
        width: 100%;
    }
    .tabordion {
        width: 100%;
    }
    .tabordion section label {
        font-size: 1em;
        width: 160px;
    }
    .tabordion section article {
        left: 200px;
        min-width: 270px;
    }
    .tabordion section article:after {
        background-color: #ccc;
        bottom: 0;
        content: "";
        display: block;
        left: -199px;
        position: absolute;
        top: 0;
        width: 200px;
    }
}


.accordion {
    background-color: #feba29;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 2px solid;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #532aaa;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
